@keyframes slide {
    0% {
      left: 0%;
    }
    5% {
      left: -100%;
    }
    20% {
      left: -100%;
    }
    25% {
      left: -200%;
    }
    40% {
      left: -200%;
    }
    45% {
      left: -300%;
    }
    60% {
      left: -300%;
    }
    65% {
      left: -400%;
    }
    80% {
      left: -400%;
    }
    85% {
      left: -500%;
    }
    100% {
      left: -500%;
    }
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
  }
  .galerie_Main {
    
    --bullet-size: 16px;
    --bullet-padding: 2px;
    --bullet-margin: 26px;
    
    overflow: hidden;
  
  }
  .container_slider {
    position: relative;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    width: 100%;
    display: flex;
    transition: all 1s ease;
  }

  .slide-1 {
  
    object-fit: cover;
    width: 100%;
   
  }
  .slide-2 {

  }
  .slide-3 {
 
  }
  .slide-4 {

  }
  .slide-5 {
 
  }
  input[type="autoplay"],
  input[type="controls"] {
    opacity: 0;
  }
  input[type="radio"] {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    appearance: none;
    -webkit-appearance: none;
  }
  input[value="autoplay"],
  label[for="autoplay"],
  input[value="controls"],
  label[for="controls"]{
    position: absolute;
    top: 10px;
    width: 80px;
    height: 20px;
    z-index: 2;
    padding: 3px 10px;
    font-size: 12px;
    text-align: center;
  }

  .autoplaysvg{
    width: 19px;
  }
  .autoplay{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  input[value="controls"],
  label[for="controls"]{
    right: 10px;
  }
  input[type="radio"]:checked + label {
    background-color: rgb(0 0 0 / 53%);
  }
  input[value="autoplay"]:checked ~ .galerie_Main input {
    display: none;
  }
  input[value*="option"] {
    width: var(--bullet-size);
    height: var(--bullet-size);
    padding-top: var(--bullet-padding);
    display: block;
    text-align: center;
    /* border-radius: 50%; */
    background-color: rgba(255, 255, 255, 0.3);
  }
  .slide-indicator {
    pointer-events: none;
    touch-action: none;
    width: var(--bullet-size);
    height: var(--bullet-size);
    display: none;
    position: absolute;
    z-index: 3;
    bottom: 10px;
    /* border-radius: 50%; */
    transform: translateX(-50%);
    /* left: 50%; */
    transition: all 1s ease;
  }
  .slide-indicator::after {
    position: absolute;
    content: '';
    background-color: white;
    /* left: 20%; */
    top: 20%;
    height: 60%;
    width: 100%;
    /* border-radius: 50%; */
  }
  input[value*="indicators"]:checked ~ .galerie_Main .slide-indicator {
    display: block;
  }
  input[value="option-1"]:checked ~ .slide-indicator {
    left: calc(50% - var(--bullet-margin) * 2);
  }
  input[value="option-2"]:checked ~ .slide-indicator {
    left: calc(50% - var(--bullet-margin));
  }
  input[value="option-4"]:checked ~ .slide-indicator {
    left: calc(50% + var(--bullet-margin));
  }
  input[value="option-5"]:checked ~ .slide-indicator {
    left: calc(50% + var(--bullet-margin) * 2);
  }
  input[value*="option"] {
      transform: translateX(-50%);
  }
  input[value="option-1"] {
    left: calc(50% - var(--bullet-margin) * 2);
  }
  input[value="option-2"] {
    left: calc(50% - var(--bullet-margin));
  }
  input[value="option-3"] {
    /* left: 50%; */
  }
  input[value="option-4"] {
    left: calc(50% + var(--bullet-margin));
  }
  input[value="option-5"] {
    left: calc(50% + var(--bullet-margin) * 2);
  }
  input[value*="controls"]:checked ~ .galerie_Main .container_slider {
    animation-name: none;
  }
  input[value*="autoplay"]:checked ~ .galerie_Main .container_slider {
    animation-name: slide;
  }
  input[value="option-1"]:checked ~ .container_slider {
    left: 0%;
  }
  input[value="option-2"]:checked ~ .container_slider {
    left: -100%;
  }
  input[value="option-3"]:checked ~ .container_slider {
    left: -200%;
  }
  input[value="option-4"]:checked ~ .container_slider {
    left: -300%;
  }
  input[value="option-5"]:checked ~ .container_slider {
    left: -400%;
  }
  ol {
    list-style: none;
  }
  ol li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .slide {
    position: relative;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    max-width: 100%;
  }




  ol li * {
    text-align: center;
    color: white;
  }
  input[value="controls"]:checked ~ .galerie_Main input[type="radio"] {
    position: absolute;
    z-index: 1;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 14 30' style='enable-background:new 0 0 14 30;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%231D1D1B;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='13.5,30 0,15 13.5,0 '/%3E%3C/svg%3E");
    background-size: 30% 60%;
    background-position: center;
    height: 30px;
    width: 28px;
    background-repeat: no-repeat;
    left: 10px;
    transform: translateY(-50%);
    top: 50%;
    background-color: #d8d8d8;
    transition: all 500ms ease;
    border-radius: 5px;
  }
